[Desktop Entry]
Encoding=UTF-8
Name=kerneloops applet
Comment=Kerneloops.org privacy question applet
Icon=stock_alarm
Exec=kerneloops-applet
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-enabled=true
